{% if product.selling_plan_groups[0].name %}
  <div class="sticky_sub_option_container">
    {% unless product.requires_selling_plan %}
      <div class="sub_options sub_option_one_time active">
        <input type="radio" id="product_onetime_op_{{ product.id }}" value="onetime" name="selling_plan_select" checked>
        <label for="product_onetime_op_{{ product.id }}" class="rtx_option_label">
          <div class="rtx_option_heading">One-time Purchase:</div>
        </label>
    </div>
    {% endunless %}
    {% for group in product.selling_plan_groups %}
      <div class="sub_options sub_option_paln">
        <input type="radio" id='product_subsave_op_{{ product.id }}' value="subsave" name="selling_plan_select">
        <label for="product_subsave_op_{{ product.id }}" class="rtx_option_label">
          <div class="rtx_option_heading">{{ group.name }}:</div>
        </label>
        <div class="rtx_option_plans__wrap">
        {% for group in product.selling_plan_groups %}
          <div class="selected_sub_option">{{- group.selling_plans[0].options[0].value -}}</div>
          <ul class="sticky-sub-option-plans">
            {% for selling_plan in group.selling_plans %}
              <li data-value="{{ selling_plan.id }}">{{ selling_plan.options[0].value }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}


