{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<span data-current_tags="{{ current_tags | join:',' }}" data-current_tags_size="{{ current_tags.size }}" style="display: none"></span>

{%- if section.settings.enable_quick_add -%}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



<div class="section-{{ section.id }}-padding" id="CollectionProductGrid" style="background-color: #fefadf;">   
  <div class="CollectionMain">
    <div class="filter_type_vertical">
      <div class="product-grid-container" id="ProductGridContainer">
        {%- paginate collection.products by section.settings.products_per_page -%}
          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper center">
                <h2 class="title title--primary">
                  {{ 'sections.collection_template.empty' | t }}<br>
                  {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <div class="collection">
              <div class="loading-overlay gradient"></div>

              <div class="Container">
                <ul id="product-grid" data-id="{{ section.id }}" 
                    class="grid product-grid grid--1-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop">
                  {%- for product in collection.products -%}
                    {% assign lazy_load = false %}
                    {%- if forloop.index > 2 -%}
                      {%- assign lazy_load = true -%}
                    {%- endif -%}
                    <li class="grid__item">
                      {% render 'card-product-new',
                        card_product: product,
                        media_aspect_ratio: section.settings.image_ratio,
                        show_rating: section.settings.show_rating,
                        lazy_load: lazy_load,
                        show_quick_add: section.settings.enable_quick_add,
                        show_quick_add_desktop: section.settings.enable_quick_add_desktop,
                        show_quick_add_mobile: section.settings.enable_quick_add_mbl,
                        quick_add_title: section.settings.quick_add_title,
                        section_id: section.id
                      %}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>

              {%- if paginate.pages > 1 -%}
                {%- render 'coll-pagination', paginate: paginate -%}
                {% comment %}{% render 'pagination', paginate: paginate, anchor: '' %}{% endcomment %}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endpaginate -%}
        
      </div>
    </div>
  </div>
</div>





{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section main-collection-product-grid new-collection-product",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "Quick Add To Cart Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add_desktop",
      "default": false,
      "label": "Show quick add on desktop"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add_mbl",
      "default": false,
      "label": "Show quick add on mobile"
    },
    {
      "type": "text",
      "id": "quick_add_title",
      "default": "Quick Add",
      "label": "Quick add title"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}